*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  margin: 0px 0px 0px 0px
a
  text-decoration: none
  cursor: pointer
 
.main
  margin: 20px 0px
.container
  width: 1200px
  margin: 0px auto
.row
  display: flex
aside
  width: 300px
.cards
  display: flex
  flex-wrap: wrap
  width: 900px
.card
  width: 250px
  margin: 20px 25px
  border: 2px solid #414141
  padding: 10px
  min-height: 100px

  &__img
    width: 100%
  &__title

  &__descr

  &__btn